<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Person</title>
</head>
<body>
<br>
<br>
<hr>

<form th:method="post" th:action="@{/people}" th:object="${person}">

    <label> Full Name:
        <input type="text" th:field="*{fullName}">
    </label>
    <div style="color: red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Error</div>
    <br>
    <label> Year of birth:
        <input type="number" th:field="*{yearOfBirth}" th:default="2000">
    </label>
    <div style="color: red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">Error</div>
    <br>

    <input type="submit" value="Add person">
</form>

</body>
</html>