<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Чоловік</title>
</head>
<body>

<p th:text="${person.getPersonId()}">Value</p>
<p th:text="${person.getFullName()}">Value</p>
<p th:text="${person.getYearOfBirth()}">Value</p>
<p th:text="${person.getDateOfBirth()}">Value</p>
<p th:text="${person.getCreatedAt()}">Value</p>

<br>
<div th:if="${person.books.isEmpty()}">
    <p>User didn`t take any books yet</p>
</div>

<div th:unless="${#lists.isEmpty(person.books)}">
    <h3>Books:</h3>
    <div th:each="book : ${person.books}">
        <p th:style="${book.delay}? 'color:black' : 'color:red'" th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYearOfPublic()}"></p>
    </div>
</div>
<br>
<hr>
<a th:href="@{/people/{id}/edit(id=${person.getPersonId()})}">Edit person</a>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getPersonId()})}">
    <input type="submit" value="Delete person">
</form>

<button type="button" onclick="window.history.back()">Back</button>

</body>
</html>