<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<br>
<hr>
<form th:method="GET" th:action="@{/books/search}">
    <label for="search">Search by title:</label>
    <input type="text" id="search" name="searchingTitle" >
    <input type="submit" value="SEARCH!">
</form>
<br>
<hr>
<div th:if="${books?.isEmpty()}">
    <p>Books not found</p>
</div>
<div th:each="book :${books}">
    <p th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYearOfPublic()}"></p>
    <div th:unless="${book.owner} == null">
        <p th:text="'The book is now with: ' + ${book.owner.fullName}"></p>
    </div>
    <br>
    <hr>
</div>

</body>
</html>