<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<br>
<hr>

<p th:text="${book.bookId}">TEXT</p>
<p th:text="${book.title}">TEXT</p>
<p th:text="${book.author}">TEXT</p>
<p th:text="${book.yearOfPublic}">TEXT</p>
<br>
<a th:href="@{/books/{id}/edit(id=${book.getBookId()})}">Edit Book</a>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getBookId()})}">
    <input type="submit" th:value="'Delete book'">
</form>
<br>
<hr>
<div th:if="${owner} == null">
    <p>This book is free. Who is takes it?</p>
    <form th:method="PATCH" th:action="@{/books/{id}/addPerson(id=${book.getBookId()})}">
        <label for="select">Choose a person</label>
        <select id="select" th:object="${person}" th:field="*{personId}">
            <option th:each="per : ${people}" th:value="${per.personId}"
                    th:text="${per.getFullName()}"></option>
        </select>
        <input type="submit" value="Set owner">
    </form>
</div>

<div th:unless="${owner} == null">
    <p th:text="'The book is now with: ' + ${owner.fullName}"></p>
    <form th:method="PATCH" th:action="@{/books/{id}/cleanPerson(id=${book.bookId})}">
        <input type="submit" value="Return the book">
    </form>
</div>

</body>
</html>