<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/add}">
    <label for="adminOpt">Выберите администратора:</label>
    <select id="adminOpt" th:object="${person}" th:field="*{id}">
        <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getName() + ' ' + person.getSurname()}"/>
    </select>

    <input type="submit" value="Chose">
</form>


</body>
</html>